# ==============================
# Data Processing
# ==============================
pandas
numpy

# ==============================
# Data Ingestion
# ==============================
datasets
huggingface_hub

# ==============================
# Database
# ==============================
pymongo

# ==============================
# Configuration / Environment
# ==============================
python-dotenv
PyYAML

# ==============================
# Progress / Utilities
# ==============================
tqdm



scikit-learn
xgboost
joblib
